<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

        <head>
            <th:block th:include="~{/fragments/head}"></th:block>
        </head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Items</span></h1>
    <h1 class="text-center mt-2"><span th:text="|Total count of items: ${count}|" class="badge badge-pill badge-dark" >Total count of items: 3</span></h1>
    <hr class="hr-3"/>
    <hr class="border-bottom w-50">
    <div class="mt-5 col-sm-12 my-auto align-self-center">
        <input id="searchInput" class="form-control mr-sm-2 w-50" type="search"
               placeholder="Enter album title or artist name" aria-label="Search">
    </div>
    <hr class="border-bottom w-75">
    <div class="container-fluid">
        <div id="albumsList"  class="offers row mx-auto d-flex flex-row justify-content-center">
            <div th:each="i:${items}" th:object="${i}" class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a th:href="@{/items/details/(id=*{id})}">
                    <div class="card-img-top-wrapper">
                        <img th:src="*{imgUrl}" class="card-img-top" alt="Thumbnail [100%x225]"
                             data-holder-rendered="true"
                             style="height: 225px; width: 100%; display: block;">
                    </div>
                    <div class="card-body pb-1">
                    <h5 class="card-title text-center" >Brand: Nike</h5>
                    </div>
                    <div class="card-body pb-1">
                        <h5 th:text="|Model: *{name}|" class="card-title text-center" >Item name</h5>
                    </div>
                    <div class="card-body pb-1">
                        <h5 th:text="|Gender: *{gender.name()}|" class="card-title text-center" >Gender</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div th:text="|Price: *{price}|" class="card-text text-center"><span>Item price</span></div>
                        </li>
                    </ul>
                </a>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
        <script th:src="@{/js/search-bar.js}"></script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>