<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <div class="mt-5 col-sm-12 my-auto align-self-center">
        <img src="https://qph.fs.quoracdn.net/main-qimg-881de789d3d6f13677fbe3a7abb320e1" class="card-img-top" alt="Thumbnail [100%x225]"
             data-holder-rendered="true"
             style="height: 300px; width: 50%;">
    <p class="blackwithbackground">
        Sorry, that is on our end :( <br/>
        Hopefully our team of handy monkeys will fix the problem asap ^^
    </p>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>

<body>

</body>
</html>