<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <th:block th:include="~{/fragments/nav}"></th:block>
        </div>
    </nav>
</header>
<main >
    <div th:object="${user}" class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                    <h6 th:text="*{fullname}"class="f-w-600">Hembo Tingor</h6>
                                    <p th:text="*{username}"></p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 th:text="*{email}"class="text-muted f-w-400">rntng@gmail.com</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Role</p>
                                            <h6 th:each="r:${user.roles}" th:object="${r}" th:text="${r.getRole().name()}" class="text-muted f-w-400"></h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Cart</h6>
                                    <div class="row">
                                        <div th:if="${exists}" th:each="i:${wishlist}" th:object="${i}" class="card" style="width: 18rem;">
                                            <img class="card-img-top" th:src="*{imgUrl}" alt="Card image cap">
                                            <div class="card-body bg-gray align-content-center text-center">

                                                <h5 th:text="|Brand: *{brand.name}|" class="card-text"></h5>
                                                <h5 th:text="|Model: *{name}|" class="card-text"></h5>
                                                <h5 th:text="|Seller: *{addedBy}|" class="card-text"></h5>
                                                <h5 th:text="|Description: *{description}|" class="card-text"></h5>
                                                <h5 th:text="|Gender: *{gender.name()}| "class="card-text"></h5>
                                                <h5 th:text="|Price: *{price}|" class="card-text"></h5>
                                                <a th:href="@{/items/buy/{id}(id=*{id})}" class="btn btn-success" >Buy</a>
                                                <a th:href="@{/items/buy/{id}(id=*{id})}" class="btn btn-danger" >Remove</a>
                                            </div>
                                        </div>
                                        <h5 th:if="${!exists}">No Items</h5>


                                    </div>
                                        <a th:href="@{/items/buyAll}" th:text="|Buy All / Total Price: ${price} lv|" class="btn btn-danger" >Buy All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
</title>
</head>
<body>

</body>
</html>